.profile__button {

  margin: 0;
  padding: 0;
  border: none;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;

  background: none;

  cursor: pointer;

  transition: opacity 0.5s ease;
}

.profile__button:hover {
  opacity: 70%;
}

.profile__button_dangerous {
  color: #EE3465;
}

@media (max-width: 400px) {
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}
